{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <style>
        header.masthead {
            background-image: url("{{url_for('static', filename='images/home-bg.jpg')}}")
        }
    </style>
{% endblock %}

{% block title %}Home {{ super() }}{% endblock %}

{% block pageHeading %}My Flask Blog{% endblock %}
{% block subHeading %}This is a fun Python Flask project!{% endblock %}

{% block mainContent %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for post in posts %}
            <div class="post-preview">
                <a href="{{ url_for('main.post', id=post.id) }}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    {% if post.sub_title %}
                        <h3 class="post-subtitle">{{ post.sub_title }}</h3>
                    {% endif %}
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">{{ post.author }}</a>
                    on <span>{{ post.pub_date }}</span>
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>
{% endblock %}
