{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <style>
        header.masthead {
            background-image: url("{{url_for('static', filename='images/post-bg.jpg')}}")
        }
    </style>
{% endblock head %}

{% block title %}{{ post.title }}{% endblock title %}

{% block pageHeading %}
    <div class="post-heading">
        <h1>{{ post.title }}</h1>
        <h2 class="subheading">{{ post.sub_title }}</h2>
        <span class="meta">
            Posted by
            <a href="#!">{{ post.author }}</a>
            on <span>{{ post.pub_date }}</span>
        </span>
    </div>
{% endblock pageHeading %}

{% block mainContent %}
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {{ post.content }}
                </div>
            </div>
        </div>
    </article>
{% endblock mainContent %}